* {
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}
header {
  background: #4098ff url(img/background.png) center center no-repeat;
  min-height: 100vh;
}
header .cookies {
  background-color: #194277;
  height: 50px;
}
header .cookies h4 {
  text-align: center;
  color: #fff;
  line-height: 50px;
  float: left;
  width: 30%;
  margin-left: 30%;
}
header .cookies button {
  margin-top: 0.9%;
  padding: 4px 19px;
  border-radius: 20px;
  border: none;
  color: #194277;
  font-weight: bold;
  width: auto;
}
header .menu {
  text-align: right;
  margin-right: 10%;
}
header .menu-ico {
  margin: 20px;
  float: right;
  transform: rotate(90deg);
}
header .menu-ico a {
  color: #fff;
  font-size: 24pt;
}
header .content {
  text-align: center;
  margin-top: 6%;
}
header .content img {
  border: 15px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
header .content h1 {
  text-transform: uppercase;
  width: 100%;
  margin-top: 3%;
  color: #fff;
  line-height: 1.5;
}
header .content p {
  text-transform: uppercase;
  width: 100%;
  margin-top: 3%;
  color: #fff;
  line-height: 2;
}
header .content .symbol {
  margin-top: 2%;
  font-size: 22pt;
  opacity: 0.4;
}
header .content button {
  margin-top: 3%;
  color: #3695ff;
  padding: 20px 60px;
  border-radius: 40px;
  border: none;
  font-weight: bold;
}
.about {
  text-align: center;
}
.about h2 {
  margin-top: 6%;
  font-size: 30pt;
  font-weight: lighter;
  color: #3695ff;
}
.about p {
  width: 100%;
  margin-top: 3%;
  color: #5a5a5a;
  font-size: 14pt;
  line-height: 1.5;
  margin-bottom: 6%;
}
.expect {
  float: right;
  background: #f1f8ff;
}
.expect h2 {
  margin-top: 6%;
  margin-bottom: 2%;
  font-size: 30pt;
  font-weight: lighter;
  color: #3695ff;
  text-align: center;
}
.expect-items {
  float: left;
  margin-left: 12%;
  margin-bottom: 7%;
  display: inline-block;
}
.expect-items-item {
  width: 20%;
  float: left;
  text-align: center;
  margin-top: 3%;
  margin-left: 6.5%;
}
.expect-items-item img {
  margin-top: 15%;
  margin-bottom: 3%;
}
.expect-items-item h3 {
  margin-bottom: 3%;
  margin-top: 10%;
  color: #3677fd;
}
.expect-items-item p {
  line-height: 1.5;
  color: #5a5a5a;
}
.works {
  float: left;
}
.works h2 {
  margin-top: 6%;
  margin-bottom: 2%;
  font-size: 30pt;
  font-weight: lighter;
  color: #3695ff;
  text-align: center;
}
.works-gallery {
  margin-left: 12%;
  margin-bottom: 7%;
}
.works-gallery img {
  margin-top: 3%;
  width: 20%;
  margin-left: 6.5%;
}
.clients {
  background: #f1f8ff;
  float: left;
  width: 100%;
}
.clients h2 {
  margin-top: 6%;
  margin-bottom: 2%;
  font-size: 30pt;
  font-weight: lighter;
  color: #3695ff;
  text-align: center;
}
.clients-icon {
  margin-bottom: 7%;
  text-align: center;
}
.clients-icon img {
  margin-top: 3%;
  margin: 2%;
}
footer {
  background: #4098ff url(img/background.png) center center no-repeat;
  float: left;
  width: 100%;
  height: 100px;
}
footer h4 {
  text-align: center;
  color: #fff;
  line-height: 100px;
  float: left;
  width: 50%;
  font-weight: lighter;
  font-size: 26pt;
  margin-left: 16%;
}
footer span {
  font-weight: bold;
}
footer button {
  margin-top: 2%;
  color: #3695ff;
  padding: 20px 60px;
  border-radius: 40px;
  border: none;
  font-weight: bold;
}
